body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container {
    margin: 40px;
}

.header {
    margin: 0 0 40px 0;
}

.list_blocks {
    margin: 0 0 40px 0;
}

.list_transactions {
    margin: 0 0 40px 0;
}

h2 {
    font-size: 17px;
}

table {
    width: 100%;
}

td {
    font-size: 14px;
}

th {
    font-size: 14px;
}